.face-snap-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 70%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  h2 {
    margin-bottom: 0px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  .counter{
    font-weight: 600;
  }
  .picture{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
.snapped {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: darkgreen;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}
